
/*Color palette
#020659 
#020873
#030A8C
#0D8DFB
#2104D9
#2699FB
#590242
*/

/* Font Sizes 
h1 {font-size: 1.25em;} 
h2, h3 {font-size: 1em;}
p, dl, dd {font-size: 1em;}
footer p { font-size: .75em;} 

Typography

font-family: Verdana, Geneva, Tahoma, sans-serif; 
*/

* { 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}